<html lang="en">
<head>
<% include ../partials/head %>
<style>
</style>
</head>
<body>
	<header>
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse"
						data-target="#myNavbar">
						<span class="icon-bar" style="background-color: #fff"></span> <span
							class="icon-bar" style="background-color: #fff"></span> <span
							class="icon-bar" style="background-color: #fff"></span>
					</button>
					<a class="navbar-brand" href=<%= http_url%>>My App</a>
				</div>
				<div class="collapse navbar-collapse" id="myNavbar">
					<ul class="nav navbar-nav navbar-right">						
						<li><a href=<%= https_url + "users/signin"%>><span
								class="glyphicon glyphicon-log-in"></span> SignIn
						</a></li>
					</ul>
				</div>
			</div>
		</nav>
	</header>
	<main>
	<div class="container-fluid">
		<div id="signupbox" style="margin-top: 50px">
		<% if (message.length > 0) { %>
			<div class="alert alert-danger"><%= message %></div>
			<% } %>
			<div class="panel panel-info">
				<div class="panel-heading">
					<div class="panel-title">Sign Up</div>
				</div>
				<div class="panel-body">
					<form id="signupform" class="form-horizontal" role="form"
						action="/users/signup" method="post"
						enctype="application/x-www-form-urlencoded">
						<div id="left-signupbox" class="col-md-6">
							<div id="signupalert" style="display: none"
								class="alert alert-danger">
								<p>Error:</p>
								<span></span>
							</div>
							<!-- Company Name -->
							<div class="form-group">
								<label for="company-name" class="col-md-3 control-label">Company
									Name</label>
								<div class="col-md-9">
									<input type="text" class="form-control input-lg" name="name"
										placeholder="Company Name">
								</div>
							</div>
							<!-- Tin Number -->
							<div class="form-group">
								<label for="tin-number" class="col-md-3 control-label">Tin
									Number</label>
								<div class="col-md-9">
									<input type="text" class="form-control input-lg" name="tin"
										placeholder="Tin Number">
								</div>
							</div>
							<!-- Email -->
							<div class="form-group">
								<label for="email" class="col-md-3 control-label">Email</label>
								<div class="col-md-9">
									<input type="text" class="form-control input-lg" name="email"
										placeholder="Email Address">
								</div>
							</div>
							<!-- Password -->
							<div class="form-group">
								<label for="password" class="col-md-3 control-label">Password</label>
								<div class="col-md-9">
									<input type="password" class="form-control input-lg"
										name="password" placeholder="Password">
								</div>
							</div>
						</div>
						<div id="right-signupbox" class="col-md-6">
							<div class="form-group">
								<label class="control-label col-md-3" for="shippingAddress">Address</label>
								<div class="col-md-9">
									<textarea rows="3" class="form-control input-lg"
										id="postalAddress" placeholder="Postal Address" name="address"></textarea>
								</div>
							</div>
							<div class="form-group">
								<label for="city" class="col-md-3 control-label">City </label>
								<div class="col-md-9">
									<input type="text" class="form-control input-lg" name="city"
										placeholder="City">
								</div>
							</div>
							<div class="form-group">
								<label for="state" class="col-md-3 control-label">State
								</label>
								<div class="col-md-9">
									<input type="text" class="form-control input-lg" name="state"
										placeholder="State">
								</div>
							</div>
							<div class="form-group">
								<label for="country" class="col-md-3 control-label">Country
								</label>
								<div class="col-md-9">
									<input type="text" class="form-control input-lg" name="country"
										placeholder="Country">
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-md-3" for="ZipCode">Pin
									Code</label>
								<div class="col-md-9">
									<input type="text" class="form-control input-lg" id="PinCode"
										placeholder="Pin Code" name="pincode">
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-md-3" for="phoneNumber">Phone</label>
								<div class="col-md-9">
									<input type="tel" class="form-control input-lg"
										id="phoneNumber" placeholder="Phone Number" name="phone">
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="col-md-offset-5 col-md-12">
								<label class="checkbox-inline"> <input type="checkbox"
									value="agree"> I agree to the <a href="#">Terms and
										Conditions</a>.
								</label>
							</div>
						</div>
						<div class="form-group">
							<input type="hidden" name="reqType" value="web">
						</div>
						<div class="form-group">
							<!-- Button -->
							<div class="col-md-offset-6 col-md-12 col-xs-offset-3 col-xs-12">
								<button id="btn-signup" type="submit"
									class="btn btn-info btn-md">
									<i class="icon-hand-right"></i> &nbsp Sign Up
								</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	</main>
</body>
</html>