<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar" style="background-color:#fff"></span>
        <span class="icon-bar" style="background-color:#fff"></span>
        <span class="icon-bar" style="background-color:#fff"></span>                        
      </button>
      <a class="navbar-brand" href="">My App</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
		<li><a href="##myPage">HOME</a></li>
        <li><a href="##about">ABOUT</a></li>        
        <li><a href="##clients">CLIENT</a></li>        
        <li><a href="##contact">CONTACT</a></li>
        <li><a href="#users/signup"><span class="glyphicon glyphicon-user"></span> Register</a></li>
        <li><a href="#users/signin"><span class="glyphicon glyphicon-log-in"></span> SignIn</a></li>
      </ul>
    </div>
  </div>
</nav>